src/*o
src/misc
src/pthread/*.o
sqz
testdata
testing/ramdsk
testing/dbug
testing/NVMe
testing/benchmarking/Software
*.a
*.so
*.o
/sqzlib.h
examples
docs/*.pdf
docs/auto
docs/*.aux
docs/*.log
docs/*.gz
docs/html
docs/latex
docs/rtf
misc
pyenv
