src/*o
src/misc
src/pthread/*.o
sqz
testdata
testing
*.a
*.so
*.h
examples/countseqs
examples/seqstats/seqstats
docs/*.pdf
docs/auto
docs/*.aux
docs/*.log
docs/*.gz
docs/html
docs/latex
docs/rtf
misc
pyenv
